.header {
  background: #282b36;
  color: var(--color-green);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 59px;
    margin-bottom: 20px;
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    color: var(--color-blue);
    margin-bottom: 50px;
  }

  &__greet {
    color: var(--color-studio);
  }

  &__button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid var(--color-studio);
    color: var(--color-studio);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:focus,
    &:hover {
      outline: none;
      color: var(--color-green);
      border-color: var(--color-green);
      transform: translateY(3px);
    }
  }

  &__bio {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    color: var(--color-white);

    & p {
      line-height: 25px;
    }
  }
}
