.header {
  background: #282b36;
  color: var(--color-green);
  height: 100vh;
  overflow: auto;

  @media (--desktop) {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 59px;
    margin-bottom: 30px;
    width: 100%;
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    color: var(--color-blue);
    margin-bottom: 40px;
    width: 100%;
  }

  &__greet {
    color: var(--color-studio);
  }

  &__button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid var(--color-studio);
    color: var(--color-studio);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    display: block;

    @media (--desktop) {
      display: inline-block;
      width: initial;
    }

    &:focus,
    &:hover {
      outline: none;
      color: var(--color-green);
      border-color: var(--color-green);
      transform: translateY(3px);
    }
  }

  &__bio {
    margin-bottom: 40px;
    color: var(--color-white);

    & p {
      margin: 0;
      line-height: 25px;
    }
  }
}
