{% extends "./templates/default.njk" %}

{% block main %}
  <header class="header">
    <h1 class="header__title">
      <span class="header__greet">This is my</span> 
      BIO
    </h1>
    <h2 class="header__subtitle">I'm a Developer</h2>
    <a href="/" class="header__button">Return to index.html</a>
  </header>
{% endblock %}