{% extends "./templates/default.njk" %}

{% block main %}
  <header class="header">
    <div class="container">
      <h1 class="header__title">
      <span class="header__greet">Hi!</span> 
        I'm {{ name }}
      </h1>
      <h2 class="header__subtitle">I'm a Developer</h2>
      <nav class="header__nav">
        <a href="bio.html" class="header__button">Read bio</a>
      </nav>
    </div>
  </header>
{% endblock %}